<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.discovery.darchrow.mapper.UserMapper">
	<resultMap type="User" id="resultListUser">
        <id column="id" property="id" />
        <result column="userName" property="userName" />
        <result column="password" property="password" />
    </resultMap>
    
    
    <select id="selectUserByID" parameterType="int" resultType="User">
        select id as id, user_name as userName, password as password from db_user where id = #{id}
    </select>
    
    <select id="selectUserByName" parameterType="string" resultType="User">
        select id as id, user_name as userName, password as password from db_user where user_name = #{name}
    </select>
    
    <select id="selectUsers" parameterType="string" resultMap="resultListUser">
        select 
        	id as id, user_name as userName, password as password 
        from db_user 
        where user_name like #{userName}
    </select>
    
    <insert id="insertUser">
    	INSERT INTO db_user (user_name, password)
		VALUES
			(
				#{userName}, 
				#{password}
			)
    </insert>
    
    <delete id="deleteByPrimaryKey">
    	DELETE FROM DB_USER
    	WHERE id =#{id}
    </delete>
    
    <delete id="deleteByName">
    	DELETE FROM DB_USER
    	WHERE user_name = #{name}
    </delete>
    
</mapper>